<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="application/javascript">

    </script>
  </head>
  <body>
    <h2>通过express生成器生成一个express项目框架</h2>
    <ul>
      <li>
        <h4>安装express生成器</h4>
        <p>express-generator 包含了 express 命令行工具。通过如下命令即可安装：</p>
        <p>$ npm install express-generator -g</p>
      </li>
      <li>
        <h4>启动express项目</h4>
        <p>mac或者linux中命令行启动express项目：</p>
        <p>$ DEBUG=myapp:* npm start</p>
        <p>在 Windows 中，通过如下命令启动此应用：</p>
        <p>> set DEBUG=myapp:* & npm start</p>
      </li>
      <li>
        <a href="http://127.0.0.1:3000/users/registeRouter">如何注册多个路由</a>
      </li>
    </ul>
  </body>
</html>